@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Finlandica:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {

  width: 100%;

}
:root {
  --color-primary: #2a9d8f;
  --color-secondary: #e9c46a;
  --color-tertiary: #f4a261;
  --color-white: #FFFFFF;
  --color-blue-grey: #264653;
  --color-tangerine: #e76f51;
  --color-contrast-yellow: #F6BA0A;

}
h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
 font-size: 46px;
 line-height: 54px;
}

h3 {
  font-size: 40px;
  line-height: 44px;
}
h4 {
  font-size: 30px;
  line-height: 34px;
}
h6 {
  font-weight: 700;
  font-size: 12px;

}
.section-p1 {
  padding: 40px 80px;
}
.section-p2 {
  padding: 20px 60px;
}
.section-m1 {
  margin: 40px 0;
}

.logo span {
  background:var(--color-tangerine);
  color:var(--color-white);
  display: inline-block;
  line-height: 1.8;
  padding: 0 16px;
  font-family: 'Chelsea Market', cursive;

}
.logo h5 {
  color:var(--color-white);
  text-shadow: 2px 2px 0px #e76f51,
      3px 3px 0px #e9c46a,
      4px 4px 0px #f4a261,
      5px 5px 0px #e76f51,
      6px 6px 0px #264653,
      6px 6px 0px #000000;
  font-family: 'Chelsea Market', cursive;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.3;
}
/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--color-secondary);
  box-shadow: rgba(0, 0, 0, 0.06);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to right top, #2a9d8f, #4ba886, #6db27a, #91ba70, #b6c069, #c8bf66, #dabe65, #ecbc67, #eeb664, #f1af63, #f2a961, #f4a261); */

}
#navbar li {
 padding: 0 20px;
 position: relative;
}
#navbar li a{
  font-family: 'Chelsea Market', cursive;
  font-weight: 500;
  color: var(--color-blue-grey);
  font-size: 16px;
  transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active {
  color: var(--color-tangerine);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color:var(--color-tangerine) ;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}


/*Home Page*/
#hero {
  background-image: url(images/products/vintage-1.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-card-wrapper{
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}
.hero-card-wrapper:hover button {
  background: linear-gradient(45deg, transparent 5%, #2a9d8f 5%);
}
.card-text{
  background-color: #f4a261;
  width: 500px;
  height: 300px;
  text-align: center;
  padding-top: 15px;
  grid-area: 1 / 1;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, .1);
}
.hero-card-wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #e9c46a;
  box-sizing: content-box;
}


.hero-card-wrapper:hover>div,
.hero-card-wrapper:hover:before {
  transform: none;
}

.hero-card-wrapper>div,
.hero-card-wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25, .46, .45, 1);
}

#hero h1 {
  color: var(--color-primary);
  font-family: 'Chelsea Market', cursive;
}
#hero h2 {
  color: var(--color-blue-grey);
  font-family: 'Chelsea Market', cursive;
}
#hero h4 {
  padding-bottom: 15px;
  color: var(--color-blue-grey);
  font-size: 20px;
  font-family: 'Chelsea Market', cursive;
}

button,
button::after {
  width: 180px;
  height: 55px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Chelsea Market',cursive;
  background: linear-gradient(45deg, transparent 5%, #e76f51 5%);
  border: 0;
  color:var(--color-white);
  text-shadow: 3px 3px 0px #264653;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 30px;
  box-shadow: 6px 6px 6px var(--color-secondary);
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'SHOP NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #e9c46a 3%, #2a9d8f 5%, #e76f51 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #2a9d8f;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
/*features*/
#feature {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
}
#feature .feature-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 3px solid var(--color-secondary);
  margin: 15px 0;
  border-radius: 4px;

}
#feature .feature-box:hover {
box-shadow: 10px -10px 0 -3px #fff, 10px -10px var(--color-tertiary),
    20px -20px 0 -3px #fff, 20px -20px var(--color-tangerine),
    30px -30px 0 -3px #fff, 30px -30px var(--color-primary),
    40px -40px 0 -3px #fff, 40px -40px var(--color-blue-grey);
  transition: box-shadow 1s, top 1s, left 1s;

}

#feature .feature-box img {
  width: 100%;
  margin-bottom: 10px;
}


#feature .feature-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  color: var(--color-blue-grey);
  background-color: var(--color-secondary);
  line-height: 1;
  border-radius: 4px;
  font-family: 'Chelsea Market', cursive;
}
/* featured products */
#product-1 {
  text-align: center;
  background-color: #F4A261;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='187' height='187' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23E76F51' fill-opacity='0.23' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

#product-1 h2 {
  font-family: 'Chelsea Market', cursive;
  color: var(--color-primary);
  text-shadow: 3px 3px 0px #264653;
}

#product-1 p {
  font-size: 18px;
  font-family: 'Chelsea Market', cursive;
  color: var(--color-blue-grey);
  margin-bottom: 4px;
}

.featured-products {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.featured-products .product {
  position: relative;
  width: 25rem;
  max-width: 300px;
  height: 25rem;
  margin: 3rem 2rem;
}

.featured-products .product:hover .image-box {
  transform: translate(-3.5rem, -3.5rem);
}

.featured-products .product:hover .product-content {
  transform: translate(3.5rem, 3.5rem);
}

.image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.image-box img {
  width:25rem;
  max-width: 300px;
  height: 25rem;
  object-fit: cover;
  resize: both;
  box-shadow: 34px 20px 34px rgba(0, 0, 0, 0.05);
  border: 9px solid var(--color-tangerine);

}

.product-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 9px solid var(--color-tangerine);
  display: flex;
  justify-content: center;
  background-color: #f4a279;
  z-index: 1;
  align-items: flex-end;
  transition: 0.5s ease-in-out;

}


#product-1 .product .description {
  text-align: start;
  padding: 5px 0;
}
#product-1 .product .description span {
  color: var(--color-blue-grey);
  font-size: 14px;
  padding-top: 7px;
  font-weight: 600;
  font-family: 'Chelsea Market',cursive;
}
#product-1 .product .description h5 {
  padding-top: 7px;
  color: var(--color-blue-grey);
  font-size: 14px;
}

#product-1 .product .description i {
  font-size: 12px;
  color: var(--color-secondary);
  text-shadow: 1px 1px 0px #264653;
}
#product-1 .product .description h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-blue-grey);
  font-family:'Chelsea Market',cursive;
}

#product-1 .product .cart {
 width: 40px;
 height: 40px;
 color: var(--color-blue-grey);
 line-height: 40px;
 border-radius: 50px;
 background-color: var(--color-primary);
 border: 2px solid var(--color-blue-grey);
 position: absolute;
 bottom: 20px;
 right: 10px;
}

#product-1 .product .cart:hover {
 color: var(--color-primary);
 background-color: var(--color-blue-grey);
border: 2px solid var(--color-primary);
}
/* new arrivals */
#product-1.new-arrivals {
  background-color: #2A9D8F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='159' height='159' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23006769' fill-opacity='0.35' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  padding: 40px 80px;
}
#product-1.new-arrivals h2 {
  font-family: 'Chelsea Market', cursive;
  color: var(--color-secondary);
  text-shadow: 3px 3px 0px #264653;
}
/* banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/banner/banner.png');
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color:var(--color-secondary);
  text-shadow: 3px 3px 0px #264653;
  font-family: 'Chelsea Market', cursive;
}
#banner h2 {
  color: var(--color-secondary);
  text-shadow: 3px 3px 0px #264653;
  font-family: 'Chelsea Market', cursive;
}
#banner h2 span {
  color: var(--color-primary);
  text-shadow: 4px 4px 0px #264653;
  font-family: 'Chelsea Market', cursive;
}
button.explore {
  font-size: 20px;
  padding: 15px 30px;

}
#sm-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('images/banner/banner-yellow.jpeg');
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border: 7px solid var(--color-secondary);

}
#sm-banner h4{
  color: var(--color-white);
  text-shadow: 4px 4px 0px #264653;
}
#sm-banner h2 {
  color:var(--color-white);
  text-shadow: 4px 4px 0px #264653;
}
#sm-banner .banner-box:hover button {
  background: linear-gradient(45deg, transparent 5%, #2a9d8f 5%);
}

#sm-banner .banner-box2{
  background-image: url('images/banner/bannersm7.jpg');
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 60px;
  /* background-color: #E9C46A;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23F6BA0A' fill-opacity='0.47' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E"); */
}

#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('images/banner/bannersm8.png');
  border: 7px solid var(--color-secondary);
  min-width:30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url(images/banner/Vintage-rack.png);
}
#banner3 .banner-box3 {
  background-image: url(images/banner/bannersm3.jpg);
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  text-shadow: 4px 4px 0px #264653;
}
#banner3 h3 {
  color: var(--color-white);
  text-shadow: 3px 3px 0px #264653;
  font-weight: 800;
  font-size: 18px;
}
#banner3 h3 span {
  color: var(--color-secondary);
}
/* newsletter */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('images/banner/newsletter.png');
  background-position: 20% 30%;
  background-repeat: no-repeat;
  background-color: var(--color-blue-grey);
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-white);
}
#newsletter p {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  font-family: 'Chelsea Market', cursive;
}
#newsletter p span {
  font-size: 18px;
  font-weight: 800;
  color: var(--color-secondary);
  font-family: 'Chelsea Market', cursive;
}

#newsletter .form {
  display: flex;
  width: 40%;
  justify-content: center;

}
#newsletter input {
  height:3.125rem;
  padding: 0 1.25em ;
  font-size:14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-btn {
  width: 140px;
  height:3.125rem;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  background: linear-gradient(45deg, transparent 5%, #2a9d8f 5%);
}
.form-btn:hover{
  background: linear-gradient(45deg, transparent 5%, #e76f51 5%);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4 {
 font-size: 14px;
 padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  margin: 0 0 8px 0;
  color:#222;
}
footer .follow{
  margin-top: 20px;
}

footer .follow i {
  color: var(--color-blue-grey);
  padding-right:4px;
  cursor: pointer;
}

footer.follow i:hover,
footer a:hover {
  color: var(--color-primary);

}

.row img {
  border: 1px solid #2a9d8f;
  border-radius: 6px;
}

footer.install img {
 margin: 10px 0 15px 0;
}

footer.copyright {
  width: 100%;
  text-align:center;
}

/* shop-page */
#shop-page-header {
  background-image: url(images/banner/psychedelic-banner.jpg);
  width: 100%;
  height: 40vh;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 14px;
}

#shop-page-header h2,
 #shop-page-header h4 {
  color: var(--color-white);
  text-shadow: 2px 2px 0px #e76f51,
    3px 3px 0px #e9c46a,
    4px 4px 0px #f4a261,
    5px 5px 0px #e76f51,
    6px 6px 0px #264653,
    6px 6px 0px #000000;
  font-family: 'Chelsea Market', cursive;
  font-weight: 900;
}

#product-1.shop-products {
  background-color: #E9C46A;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23F6BA0A' fill-opacity='0.47' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  padding: 40px 80px;
}

#pagination {
  text-align: center;
}

#pagination a  {
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 600;
}

#pagination a i {
  font-weight: 600;
  font-size: 16px;
}
/* single-product page */
#product-details.single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-image-group {
  display: flex;
  justify-content: space-between;
}
.small-image-col {
  flex-basis: 20%;
  cursor: pointer;
}

/* media */
 /* navbar */
  @media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
      }
    #navbar {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      top: 0 ;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: var(--color-secondary);
      box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
      transition: 0.3s;
    }

    #navbar.active {
      right:0;
    }

     #navbar li {
      margin-bottom: 25px;
     }

      #mobile {
       display: flex;
       align-items: center;
     }

   #mobile i  {
      color: var(--color-blue-grey);
      font-size: 24px;
      padding-left:20px ;
     }

   #close {
    top: 30px;
    left: 30px;
    color: var(--color-blue-grey);
    font-size: 24px;
    display: flex;
    padding-left: 20px;

   }
   #lg-bag{
     display: none;
   }
   /* hero */
   #hero {
    padding: 0 100px;
  }
  /* features */
  #feature {
   justify-content: center;
   display: flex;
  }
 #feature .feature-box {
   margin: 15px 15px;
 }
     /* banner */
 #banner {
   height: 20vh;
 }

 #sm-banner .banner-box {
   min-width: 100%;
   height: 30vh;
   padding: 30px;

 }

 #banner3 {
   padding: 0 40px;
 }
 #banner3 .banner-box {
  width: 28%;
  margin: 20px 10px;
 }
 /* newsletter */
 #newsletter .form {
   width: 70%;

 }
}

 @media (max-width:477px) {
  .section-p1 {
      padding: 20px;
    }
  /* navbar */
  #header {
    padding: 10px 30px;
  }
 .logo span {
    line-height: 1.4;
    padding: 0 10px;
  }
 /* hero */
  #hero {
  padding: 0 20px;
  background-position:55%;
  }

  h1 {
   font-size: 32px;
  }
  h2 {
   font-size: 28px;
  }
  .card-text {
   width: 100%;
  }
  button {
   font-size: 20px;
    height: 100px;
    margin-top: 10px;
  }
    /* features */
  #feature .feature-box {
    width: 155px;
    margin: 0 5px 15px 5px;
  }

  #feature .feature-box:hover {
   box-shadow: 10px -10px 0 -3px #fff, 10px -10px var(--color-tangerine),
     20px -20px 0 -3px #fff, 20px -20px var(--color-primary);
  }
  .featured-products .product:hover .product-content {
   transform: translate(0, 3.5rem);
  }

  .featured-products .product:hover .image-box {
   transform: translate(0, -3.5rem);
  }

  .product-content {
   width: 300px;
   border: none;
  }

  #product-1 .product .description {
     text-align:center;
  }

  #online-order h6 {
   margin-top: 20px;
  }

  #product-1.new-arrivals {
   padding: 20px;
  }
 /* banner */
  #banner {
   height: 40vh;
  }

  #sm-banner .banner-box {
   height: 40vh;
  }

  #sm-banner .banner-box2 {
   margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
   width: 100%;
  }

 /* newsletter */

  #newsletter {
   padding: 40px 20px;
  }

  #newsletter .form {
   width: 100%;
  }

 /* footer */
  footer .copyright {
    text-align: start;
  }
 }
